telethon
cryptg
requests
pyrogram==1.4.12
tgcrypto
pymongo[srv]
aiofiles
psutil
py-tgcalls==0.8.6
python-dotenv
youtube_dl
youtube_search_python
aiohttp
asyncio==3.4.3
youtube_search
python-arq
search-engine-parser
wget
ffmpeg-python
Pillow==9.1.0
ujson
yt-dlp
yt_dlp
